body {
    margin: 0;
    padding: 0;
    background-color: #fefbea;
}

#containerInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 40%;
    margin-bottom: -70px;
    display: block;
}

.divCategoria, .divNivel {
    display: inline-block;
    vertical-align: top;
    margin: 20px 40px;
}

div label {
    font-size: 30px;
    font-family: monospace;
    color: #19253e;
}

.textoRadio {
    font-size: 22px;
    color: #0c2b5c;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.radio {
    margin: 10px;
    width: 15px;
    height: 15px;
    border-color: #070e1b;
}

#mensajeError {
    color: rgb(130, 8, 8);
    font-size: 30px;
    margin-top: 10px;
}

#containerInicial button {
    padding: 15px;
    width: 200px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: fantasy;
    color: #fefbea;
    background-color: #1d4483;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 7px rgba(27, 13, 73, 0.6);
    margin-top: 30px;
}

#containerInicial button:hover {
    transform: scale(1.05);
    background-color: #14356a;
    transition: 0.3s;
}

#contenedorPregunta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.contadorPregunta {
    font-size: 25px;
    color: #3a4150;
    font-family: monospace;
}

.preguntaTexto {
    font-size: 30px;
    color:#19253e;
    text-align: center;
    margin: 20px 0;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.contador {
    font-size: 25px;
    color: rgb(100, 17, 17);
    font-weight: bold;
    margin-bottom: 20px;
}

#contenedorPregunta button {
    display: block;
    width: 300px;
    margin: 8px 0;
    padding: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #1d4483;
    color: white;
    font-family: monospace;
}

#contenedorPregunta button:hover {
    background-color: #14356a;
}

#contenedorFinal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

#contenedorFinal h1 {
    font-size: 40px;
    font-family: monospace;
    color: #19253e;
}

#contenedorFinal h3 {
    font-size: 28px;
    margin: 10px;
    font-family: monospace;
}

.correcta {
    color: rgb(10, 86, 10);
}

.incorrecta {
    color: rgb(122, 11, 11);
}

.noRespondida {
    color: rgb(179, 119, 8);
}