body {
    margin: 0;
    padding: 0;
    background-color: #fefbea;
    display: flex;
    justify-content: center;
}

#containerInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.logo {
    width: 60%;
    margin-bottom: -50px;
}

.opciones {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.divCategoria, .divNivel {
    text-align: center;
}

div label {
    font-size: 28px;
    font-family: monospace;
    color: #19253e;
}

.textoRadio {
    font-size: 20px;
    color: #0c2b5c;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.radio {
    margin: 10px;
    transform: scale(1.2);
}

#mensajeError {
    color: rgb(130, 8, 8);
    font-size: 24px;
    margin-top: 15px;
}

#containerInicial button {
    padding: 12px;
    width: 180px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: fantasy;
    color: #fefbea;
    background-color: #1d4483;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgba(27, 13, 73, 0.6);
    margin-top: 25px;
    cursor: pointer;
}

#containerInicial button:hover {
    transform: scale(1.05);
    background-color: #14356a;
    transition: 0.3s;
}

#contenedorPregunta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}

.contadorPregunta {
    font-size: 22px;
    color: #3a4150;
    font-family: monospace;
}

.preguntaTexto {
    font-size: 28px;
    color:#19253e;
    margin: 20px 0;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.contador {
    font-size: 22px;
    color: rgb(100, 17, 17);
    font-weight: bold;
    margin-bottom: 20px;
}

#contenedorPregunta button {
    width: 280px;
    margin: 6px 0;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #1d4483;
    color: white;
    font-family: monospace;
}

#contenedorPregunta button:hover {
    background-color: #14356a;
}

#contenedorFinal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
}

#contenedorFinal h1 {
    font-size: 36px;
    font-family: monospace;
    color: #19253e;
}

#contenedorFinal h3 {
    font-size: 24px;
    margin: 8px;
    font-family: monospace;
}

.correcta {
    color: rgb(10, 86, 10);
}

.incorrecta {
    color: rgb(122, 11, 11);
}

.noRespondida {
    color: rgb(179, 119, 8);
}